body {
   margin: 50px auto;
   max-width: 1280px;
   padding: 0;
}

#hlsjsvod {
  background-image: url(https://i.pinimg.com/originals/d0/6b/56/d06b5663375f2e2e3e97362f7ff13410.jpg);
	background-size: cover;
/*   background-color: #f60; */
}